@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-left: #0f172a;
    --background-right: #0f1e47;
    --accent-orange: #ff9900;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background: #ffab4a;
    color: #472e00;
  }

  body {
    background: linear-gradient(
      -75deg,
      var(--background-right),
      var(--background-left)
    );
    background-repeat: repeat;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.1);
  }
}

@layer components {
  .hero-title-shine {
    background: linear-gradient(
      110deg,
      theme("colors.slate.100") 33%,
      var(--accent-orange) 50%,
      theme("colors.slate.100") 66%
    );
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .blog-content {
    @apply prose prose-slate prose-invert max-w-none;
    @apply prose-headings:text-gray-200 prose-p:text-gray-300 prose-strong:text-gray-200;
    @apply prose-a:text-orange-400 prose-a:no-underline hover:prose-a:text-orange-300;
    @apply prose-ul:text-gray-300 prose-ol:text-gray-300 prose-li:text-gray-300;
    @apply prose-code:text-orange-300 prose-code:bg-slate-800 prose-code:px-1 prose-code:rounded;
  }
}
